{% extends  "BuyIt/layout.html" %}


{% load static %}
{% block body %}

<div>
    <p style="text-align:center; font-size: 50px; background-color:rgb(228, 228, 228); margin-bottom:3%;">My <span style="color: darkcyan;">cart</span></p>
    {%if products %}
        {%for product in products%}
            <div class="card mb-3" style="width: 40%; height:20%; margin-left:30%; margin-bottom:2%;">
                <div style="margin-top: 4%;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{product.img.url}}" class="img-fluid rounded-start" alt="{{product.img.url}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.tag}}</p>
                        <p class="card-text"><small class="text-body-secondary">added recently</small></p>
                        {% if product.offer %}
                            <p class="card-text">₹ {{product.price}}   <span class="badge rounded-pill text-bg-warning">Sale</span></p>
                        {%else%}
                            <p class="card-text">₹ {{product.price}}</p>
                        {%endif%}
                        </div>
                    </div>
                    </div>
                </div>
                <div style="display: inline;">
                    <a href="{% url 'BuyIt:item' product.id %}" class="btn btn-outline-primary" style="margin-left: 35%; width:20%; margin-bottom:5%">View item</a>
                    <button id="delete-cart" type="button" data-index="{{ product.id }}" style="margin-left: 3%; width:10%; margin-bottom:5%" class="btn btn-outline-danger delete-cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg></button>
                </div>
            </div>
            <hr className="hr hr-blurry" />
        {%endfor%}
        <h5 style="text-align: center;">Cart Total:  ₹{{ cart_total }}</h5>
        <hr className="hr hr-blurry" />
        <div style="display: inline;"></div>
            <a href="{% url 'BuyIt:index' %}" class="btn btn-outline-primary" style="margin-left: 28%; width:20%; margin-bottom:5%"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>  Continue shopping</a>
            <a href="{% url 'BuyIt:index' %}" class="btn btn-outline-success" style="margin-left: 5%; width:21%; margin-bottom:5%">Checkout  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
              </svg></a>
        </div>
    {% else %}
      <div style=" text-align:center">
        <img src="{% static 'BuyIt/empty_cart.png' %}" alt="Cart is empty">
        <h4>Your cart is empty</h6>
        <p style="font-weight: lighter;">Add items to view here</p>
      </div>
    {% endif %}

    <script>
        $(document).on('click', '.delete-cart', function(e){
            e.preventDefault();
            // grab the product id
            //var productid = $(this).data('index');
        
            $.ajax({
            type: 'POST',
            url: '{% url "cart_delete" %}',
            data: {
              product_id: $(this).data('index'),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post'
            },
            success: function(json){
                //console.log(json)
                //document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
        
            error: function(xhr, errmsg, err){
        
            }
        
        
            });
        
        })
        
        
    </script>
</div>

{%endblock%}