{% extends 'BuyIt/layout.html' %}
{%block body%}

  <img src="{{items.img.url}}" alt="na" style="margin-left:33%; height:500px;">
  <h1 style="margin-top: 40px; text-align:center;">{{items.name}}</h1>
  <h6 style="margin-top: 10px; text-align:center;">{{items.tag}}</h1>
  <div style="width: 80%;">
    <p style="margin-left: 20%;">{{items.desc}}</p>
  </div>
  <button id="add-cart" type="button" value="{{ items.id }}" class="btn btn-secondary update-cart" style="align-items: center;">Add to cart</button>
<script>
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type:"POST",
                url: "{% url 'cart_add' %}",
                data:{
                    product_id: $('#add-cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
        
                },
        
                success: function(json){
                    console.log(json)
                    console.log($('#add-cart').val())
                },
        
                error: function(xhr, errmsg, err){
                    console.log($('.update-cart').val())
                }
        
            });
        })
        
        
</script>

{%endblock%}