{% extends "KnowIt/layout.html" %}
{% load static %}
{% block body %}
        <p></p>
        <div style="font-size: 50px; text-align: center; font-family: Consolas">Hall of <span style="color: chartreuse;">Fame</span></div>
        <p style="text-align: center; background-color: white;">PHYSICISTS</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/tesla.jpg' %}" class="card-img-top" alt="image" style="height: 580px;">
                <div class="card-body">
                  <h5 class="card-title">Nikola Tesla</h5>
                  <p class="card-text">Nikola Tesla was a Serbian-American inventor, electrical engineer, mechanical engineer, and futurist. He is known for his contributions to the design of the ...</p>
                  <button style="color: gray;"><a href="#fun">Know More</a></button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/stephen_hawking.jpg' %}" class="card-img-top" alt="..." style="height: 580px;">
                <div class="card-body">
                  <h5 class="card-title">Stephen Hawking</h5>
                  <p class="card-text">Stephen William Hawking, CH, CBE, FRS, FRSA (8 January 1942 – 14 March 2018) was an English theoretical physicist, cosmologist, and author who was director ...</p>
                  <button style="color: gray;">Know More</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/einstein.jpg' %}" class="card-img-top" alt="..." style="height: 580px;">
                <div class="card-body">
                  <h5 class="card-title">Albert Einstein</h5>
                  <p class="card-text">Albert Einstein was a famous physicist. His research spanned from quantum mechanics to theories about gravity and motion. After publishing some groundbreaking ...</p>
                  <button style="color: gray;">Know More</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/fynman.jpg' %}" class="card-img-top" alt="..." style="height: 580px;">
                <div class="card-body">
                  <h5 class="card-title">Richard fynman</h5>
                  <p class="card-text">Richard Phillips Feynman was an American theoretical physicist, known for his work in the path integral formulation of quantum mechanics, the theory of ...</p>
                  <button style="color: gray;">Know More</button>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="{% static 'KnowIt/Erwin_Schrödinger.jpg' %}" class="card-img-top" alt="..." style="height: 580px;">
                  <div class="card-body">
                    <h5 class="card-title">Erwin_Schrödinger</h5>
                    <p class="card-text">Erwin Rudolf Josef Alexander Schrödinger sometimes written as Schroedinger or Schrodinger, was a Nobel Prize–winning Austrian and naturalized Irish ...</p>
                    <button style="color: gray;">Know More</button>
                  </div>
                </div>
            </div>
          </div>
        <p></p>
        <p style="text-align: center; background-color: white;" id="fun">PHYSICISTS</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/tesla.jpg' %}" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title">Nikola Tesla</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/stephen_hawking.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Stephen Hawking</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/einstein.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Albert Einstein</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'KnowIt/fynman.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Richard fynman</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
{% endblock %}