{% load static %}
<!DOCTYPE html>
<head>
    <title>Second page</title>
    <style>
        body {
            background-image: url("{%static 'KnowIt/tesla.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        h1{
            position: absolute;
            top: 30%;
            left: 45%;
            width: 200px;
            font-size: 70px;
            display: inline;
        }

    </style>
</head>
<body>

    <h1> <span style="color: aliceblue;">Know</span> <span style="color: Blue;">IT</span> </h1>
    
</body>
</html>